---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "cdl-operator.serviceAccountName" . }}
  labels:
    {{- include "cdl-operator.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  automountServiceAccountToken: {{ .Values.serviceAccount.automount }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "cdl-operator.serviceAccountName" . }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - secrets
      - services
    verbs:
      - create
      - delete
      - get
      - list
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
  - apiGroups:
      - cdl.ulagbulag.io
    resources:
      - modelclaims
      - models
      - modelstoragebindings
      - modelstorages
      - modelusers
    verbs:
      - create
      - delete
      - get
      - list
      - update
      - watch
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingressclasses
    verbs:
      - create
      - delete
      - get
      - list
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "cdl-operator.serviceAccountName" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "cdl-operator.serviceAccountName" . }}
subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: {{ include "cdl-operator.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "cdl-operator.clusterRoleName" . }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - secrets
      - services
    verbs:
      - create
      - delete
      - get
      - list
      - update
      - watch
  - apiGroups:
      - ""
    resourceNames:
      - modelclaims.cdl.ulagbulag.io
      - models.cdl.ulagbulag.io
      - modelstoragebindings.cdl.ulagbulag.io
      - modelstorages.cdl.ulagbulag.io
      - modelusers.cdl.ulagbulag.io
    resources:
      - customresourcedefinitions
    verbs:
      - create
      - get
      - list
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - cdl.ulagbulag.io
    resources:
      - modelclaims
      - models
      - modelstoragebindings
      - modelstorages
      - modelusers
    verbs:
      - create
      - delete
      - get
      - list
      - update
      - watch
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingressclasses
    verbs:
      - create
      - delete
      - get
      - list
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "cdl-operator.clusterRoleName" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "cdl-operator.clusterRoleName" . }}
subjects:
  - apiGroup: ""
    kind: ServiceAccount
    name: {{ include "cdl-operator.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
